<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Jabberwocky</title>

  <link rel="stylesheet" type="text/css" href="<%= asset_path 'normalize.css' %>">
  <link rel="stylesheet" type="text/css" href="<%= asset_path 'styles.css' %>">

  <%= yield_content :head %>
</head>
<body>
  <header>
    <h1>Jabberwocky</h1>

    <input type="search" placeholder="Search">

    <nav>
      <ul>
        <li class="active">Activity</li>
        <li>Team</li>
        <li>Calendar</li>
      </ul>
    </nav>

    <ul class="options">
      <li>Settings</li>
      <li>Logout</li>
    </ul>
  </header>

  <%= yield %>

  <script src="<%= asset_path 'commonjs.js' %>"></script>
  <script src="<%= asset_path 'main.js' %>"></script>
</body>
</html>
