<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Jabberwocky</title>

  <link rel="stylesheet" type="text/css" href="<%= asset_path 'normalize.css' %>">
  <link rel="stylesheet" type="text/css" href="<%= asset_path 'styles.css' %>">
</head>
<body>
  <header>
    <h1>Jabberwocky</h1>

    <div class="command-bar">
      <input type="search" placeholder="Search">

      <nav>
        <ul>
          <li class="active">Activity</li>
          <li>Team</li>
          <li>Calendar</li>
        </ul>
      </nav>
    </div>

    <ul class="options">
      <% if !current_user? %>
        <li><a href="/auth/github">Login with GitHub</a></li>
      <% else %>
        <li><%= current_user.username %></li>
        <li><a href="/logout">Logout</a></li>
      <% end %>
    </ul>
  </header>

  <%= yield %>

  <script src="<%= asset_path 'commonjs.js' %>"></script>
  <script src="<%= asset_path 'main.js' %>"></script>
</body>
</html>
